body{
    background-color: rgb(109, 59, 153);
}
.container{
    display:flex;
    flex-direction:column ;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    width: fit-content;
    margin: 25px auto;
    padding :25px;
    border: 2px solid black;
    border-radius: 1.5rem;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
}
.screen{
    height: 50px;
    width: 290px;
    background-color: rgb(0, 218, 83);
    border-radius: 1.5rem;
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 5px;
    border: 2px solid black;
}
.screen:hover{
    box-shadow: 3px 3px 4px black;
}
.outer{
    height: 325px;
    width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: .25rem;
}
.inner{
    height: 50px;
    width: 60px;
    background-color: rgb(0, 0, 0);
    margin: .20rem;
    text-align: center;
    font-size: 15px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

#dot{
    font-size: 8px;
}
#forward {
  transform: scaleX(-1);
}
.inner:hover{
    box-shadow: 2px 2px 5px white;
    transform: scale(1.05);
    font-size: 18px;
}
.inner:active {
  transform: scale(0.95);
}

